body
{
	background:url(https://git.io/JUWOD);
}

#Astro_Girl
{
	position:static;
	margin-bottom:10px;
}

#Astro_Cartoon
{
	position:static;
	margin-bottom:10px;
}

#Astro_Boy
{
	position:static;
}
