body
{
	background:url(https://git.io/JUWOD);
}

#Astro_Girl
{
	width:200px;
	height:200px;
	position:absolute;
	z-index: 999;
}

#Astro_Boy
{
	width:200px;
	height:200px;
	position: absolute;
	top:100px;
	left:100px;
}